@font-face {
    font-family: TitanOne;
    src: url("./assets/fonts/TitanOne-Regular.woff2");
}

@font-face {
    font-family: GamjaFlower;
    src: url("./assets/fonts/GamjaFlower-Regular.woff2");
}

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    line-height: 1;
}
button:hover {
    cursor: pointer;
}

/* Variables */
:root {
    --main-color: #ff5757;
    --secondary-color: #ffde59;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

/* General */
body {
    height: 100vh;
    background-color: var(--main-color);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
    font-family: TitanOne, Arial, Helvetica, sans-serif;
    margin: 0px 100px;
    text-shadow: var(--shadow);
}

#game-message {
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.25rem;
}

.grid-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    background-image: url("./assets/icons/fridge.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 45px);
    background-size: 620px 535px; /* Variable */
}

.grid {
    height: 402px;
    width: 402px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    transform: scale(0.8) translateY(11%);
}

.grid-square {
    border: 1px solid black;
    background-color: rgb(160, 101, 209);
}

.clicked {
    background-color: green;
}

.hovered {
    background-color: blue;
}

/* Start page */
#start-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 240px;
}

#start-page .title {
    font-size: 6rem;
}

.game-button {
    height: 80px;
    width: 200px;
    border-radius: 16px;
    border: none;
    background-color: var(--secondary-color);
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.game-button:hover {
    transform: scale(1.25);
}

.game-button:active {
    transform: scale(1);
}

/* Ship placement page */
#ship-placement-page {
    display: none; /* Enabled after game is started */
}

.direction {
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

/* Battle page */
#battle-page {
    display: none; /* Enabled after ship placement is done */
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.computer.grid-square:hover {
    filter: brightness(75%);
}

.computer.grid.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#win-page {
    display: none; /* Enabled after game is done */
    flex-direction: column;
    align-items: center;
}