@font-face {
    font-family: TitanOne;
    src: url("./assets/fonts/TitanOne-Regular.woff2");
}

@font-face {
    font-family: GamjaFlower;
    src: url("./assets/fonts/GamjaFlower-Regular.woff2");
}

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    line-height: 1;
}
button:hover {
    cursor: pointer;
}

/* Variables */
:root {
    --main-color: #ff5757;
    --secondary-color: #ffde59;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    --grid-square-size: 40px;
    --grid-square-size-no-border: calc(var(--grid-square-size) - 2px);
}

/* General */
body {
    height: 100vh;
    background-color: var(--main-color);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
    font-family: TitanOne, Arial, Helvetica, sans-serif;
    margin: 0px 100px;
    text-shadow: var(--shadow);
}

#game-message {
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.25rem;
}

.grid-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    background-image: url("./assets/icons/fridge.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 46px);
    background-size: 620px 535px; 
    position: relative;
}

.grid {
    height: 402px;
    width: 402px;
    border: 1px solid purple;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    transform: scale(0.8) translateY(11%);
    overflow: hidden;
}

.grid-square {
    position: relative;
    border: 1px solid purple;
    background-color: rgb(160, 100, 210);
}

.clicked {
    background-color: green;
}

.hovered {
    background-color: blue;
}

/* Start page and Win page */
#start-page,
#win-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

#start-page .title {
    font-size: 6rem;
}

#win-page h1 {
    font-size: 4rem;
}

.game-button {
    height: 80px;
    width: 200px;
    border-radius: 16px;
    border: none;
    background-color: var(--secondary-color);
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.game-button:hover {
    transform: scale(1.25);
}

.game-button:active {
    transform: scale(1);
}

/* Ship placement page */
#ship-placement-page {
    display: none; /* Enabled after game is started */
}

.direction {
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

/* Battle page */
#battle-page {
    display: none; /* Enabled after ship placement is done */
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.computer.grid-square:hover {
    filter: brightness(75%);
}

.computer.grid.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.player-name {
    position: absolute;
    top: 10%;
    font-family: GamjaFlower, Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: purple;
}

/* Ship styling / Hit styling  */
.food {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--grid-square-size);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
    transform-origin: left center; /* Rotates from the left edge */
}

.food.sub {
    width: calc(var(--grid-square-size) * 5);
    background-image: url("./assets/icons/sub.png");
    transform: rotate(90deg) translate(-10%, -50%);
}

.food.hotdog {
    width: calc(var(--grid-square-size) * 4);
    background-image: url("./assets/icons/hotdog.png");
    transform: rotate(90deg) translate(-12%, -50%);
}

.food.burger {
    width: calc(var(--grid-square-size) * 3);
    background-image: url("./assets/icons/burger.png");
    transform: rotate(90deg) translate(-15%, -50%);
}

.food.chicken {
    width: calc(var(--grid-square-size) * 3);
    background-image: url("./assets/icons/chicken.png");
    transform: rotate(90deg) translate(-18%, -50%);
}

.food.cream {
    width: calc(var(--grid-square-size) * 2);
    background-image: url("./assets/icons/ice-cream.png");
    transform: rotate(90deg) translate(-25%, -50%);
}

.food-cover {
    position: absolute;
    height: var(--grid-square-size-no-border);
    width: var(--grid-square-size-no-border);
    background-color: red;
    z-index: 2;
}

.grid-square.hit, 
.food-cover {
    background-color: red;
    background-image: url("./assets/icons/crumbs.png");
    background-size: contain;
}

.grid-square.miss {
    background-color: blue;
}

.human.grid-square.hit {
    z-index: 2;
}
